.contacts {
    min-height: 690px;
    padding: 80px 0;
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 74px;
    }
    &__title {
        font-size: 30px;
        line-height: 36px;
        color: #393939;
        font-weight: 900;
        text-align: center;
        margin-bottom: 30px;
    }
    &__btn {
        padding-top: 15px;
        margin: 0 auto;
    }
}