.promo {
    position: relative;
    &__head {
        display: grid;
        grid-template-columns: 600px 540px;
        position: absolute;
        top: 43px;
    }
    &__logo {
        margin-top: 37px;
    }
    &__nav {
        margin-top: 64px;
        &-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            a {
                color: #ffffff;
                text-decoration: none;
                transition: all .5s;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    &__slider {
        position: relative;
        img.promo__img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        position: absolute;
        font-size: 42px;
        line-height: 48px;
        color: #ffffff;
        font-weight: 900;
        top: 241px;
    }
    &__subtitle {
        position: absolute;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        top: 351px;
    }
    &__btn {
        position: absolute;
        top: 445px;
    }
}

.slick-next {
    position: absolute;
    bottom: 64px;
    left: calc(50% + 30px);
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
    background: none;
    transform: rotate(45deg);
    font-size: 0;
    &:focus {
        outline: 0;
    }
}

.slick-prev {
    position: absolute;
    z-index: 2;
    bottom: 64px;
    left: calc(50% - 40px);
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
    background: none;
    transform: rotate(-135deg);
    font-size: 0;
    &:focus {
        outline: 0;
    }
}

.slick-dots {
    margin: 0;
    display: flex;
    width: 50px;
    justify-content: space-between;
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    li {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        list-style-type: none;
        button {
            visibility: hidden;
        }
    }
}

.slick-active {
    background-color: #ffffff;
}