@media (max-width: 1200px) {
    .footer {
        &__grid {
            grid-template-columns: 35% 5% 20% 5% 15% 5% 15% 0%;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__grid {
            grid-template-columns: 50% 5% 20% 5% 20% 0%;
        }
        &__block {
            &_about {
                grid-column: 1 / 6;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__grid {
            grid-template-columns: 100% 0%;
            gap: 30px;
            text-align: center;
        }
        &__block {
            &_about {
                grid-column: 1 / 2;
            }
        }
    }
}