@media (max-width: 1200px) {
    .proposal {
        &__problems,
        &__solutions {
            justify-content: space-around;
            &-block {
                margin: 10px;
            }
        }
    }
}

@media (max-width: 992px) {
    .proposal {
        &__problems,
        &__solutions {
            justify-content: center;
        }
    }
}